@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --font-hand: "Patrick Hand", cursive;
  --color-french-blue: #0055A4;
  --color-french-white: #FFFFFF;
  --color-french-red: #EF4135;
  --color-french-light: #F0F4F8;
}

body {
  @apply bg-slate-50 text-gray-800 antialiased;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
